.app-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  color: #2874a6;
  margin: 0 auto;
  div,
  app-base-input {
    padding: 20px 0;
  }
  div {
    font-weight: bold;
  }
  button {
    width: 50%;
    background-color: #2874a6;
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
  }
}
