<!-- <app-game-header></app-game-header> -->
<div class="app-page-game">
  <div class="score">
    <div class="title">SCORE</div>
    <div class="score-items">
      <div class="item">{{ name }}</div>
      <div class="item">BOT</div>
    </div>
    <div class="score-items">
      <div class="item points">{{ score?.winPoints }}</div>
      <div class="item points">{{ score?.lostPoints }}</div>
    </div>
  </div>

  <div class="game">
    <div class="item" (click)="onMove(movementType.ROCK)">
      <span> &#9994;</span>
      <div innerHTML="U + 2704"></div>
    </div>
    <div class="item" (click)="onMove(movementType.PAPER)">
      <span> &#9995;</span>
    </div>
    <div class="item" (click)="onMove(movementType.SCISSORS)">
      <span> &#9996;</span>
    </div>
  </div>
  <div class="play">
    <div class="title">PLAYING:</div>
    <div class="item">{{ name }} &#10547; {{ movePlayed?.my }}</div>
    <div class="item">BOT &#10547; {{ movePlayed?.bot }}</div>
  </div>
</div>
