.app-page-game {
  padding: 20px 30px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  .score {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f618d;

    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    .title {
      color: #ebf5fb;
      margin-bottom: 10px;
      font-size: 20px;
    }
    .score-items {
      display: flex;
      width: 70%;
      .item {
        height: 20px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border: 1px solid #fad7a0;
        color: #fad7a0;
        &.points {
          color: #e67e22;
        }
      }
    }
  }
  .game {
    margin: 50px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
      width: 70px;
      padding: 10px;
      border: 3px solid #1f618d;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 50px;
      }
    }
  }

  .play {
    margin-top: 40px;
    .title {
      color: #1f618d;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
    }

    .item {
      color: #154360;
      padding: 5px 0;
      text-transform: uppercase;
    }
  }
}
